<a href="https://colab.research.google.com/github/Richardesl10/Se-alesysistemasrichard/blob/main/Copia_de_carpeta1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
class persona:
  def __init__(self,nombre,edad):
    self.nombre = nombre
    self.edad = edad
  def saludar(self):
    print(f"Hola soy {self.nombre} tengo {self.edad} años ")
  def bailar(self):
    print(f" hola soy {self.nombre} y estoy bailando")
class charri(persona):
  def __init__(self, nombre, edad):
    super(). __init__(nombre, edad)
p1= persona("Gabriel", 20)
p2 = charri("Richard", 22, )
p1. saludar()
p2. bailar()

Hola soy Gabriel tengo 20 años
 hola soy Richard y estoy bailando

In [10]:
x= [1,2,3,4,5,6,7,8]
i=7
while i > -1:
  print(x[i])
  i=i-1

8
7
6
5
4
3
2
1

In [11]:
for i in range(7,-1,-1):
  print(x[i])

8
7
6
5
4
3
2
1

In [12]:
print(x[::-1])

[8, 7, 6, 5, 4, 3, 2, 1]

In [17]:
x=[1,2,3,3]
x.reverse()
print(x)

[3, 3, 2, 1]

In [20]:
matriz= [[1,2,3,4,],
         [5,4,6,7],
         [10,2,4,8]]
print(matriz[1][:2],matriz[2][:3])

[5, 4] [10, 2, 4]

In [22]:
print(matriz[2][::-1], matriz[1][::-1])

[8, 4, 2, 10] [7, 6, 4, 5]

In [23]:
dicc = {"Richard":20,"Gabriel": 22, "Hector": 23}
print(dicc["Richard"])

20

In [27]:
dicc2 = {"Real madrid":{"Cristiano": 7, "edad":40}, "Junior":{"Teo":29, "edad": 40}}
print(dicc2["Real madrid"])
print(dicc2["Junior"])

{'Cristiano': 7, 'edad': 40}
{'Teo': 29, 'edad': 40}

In [39]:
a= {"richard",30,40,50,"el charri"}
b = {"erika",40,30,20}
c =  {"gato",40,40,30}
print (a | b | c)

{'richard', 'gato', 40, 'erika', 'el charri', 50, 20, 30}

In [40]:
x= [["Richard",20,340,20],
    ["gato",40,50,40],
    ["Erika",390,40,40]]
print(x[2][:3], x[2][::-1])

['Erika', 390, 40] [40, 40, 390, 'Erika']

In [41]:
print(x[0][::-1], x[2][::-1], x[1][:4])

[20, 340, 20, 'Richard'] [40, 40, 390, 'Erika'] ['gato', 40, 50, 40]

In [50]:
class persona:
  def __init__(self,nombre, edad):
    self.nombre = nombre
    self.edad =  edad
  def saludar (self):
    print(f"Hola soy {self.nombre} y tengo {self.edad} años ")
  def bailar(self):
    print(f"Hola soy {self. nombre } y voy a bailar ")
class charri(persona):
  def __init__(self,nombre, edad, profesion):
    super(). __init__(nombre, edad,)
    self.profesion = profesion
p1 = persona("Richard",20)
p2 = charri("Erika",20,"ingeniero electricista")
p1.saludar()
p1.bailar()
p2.saludar()
p2.bailar()

Hola soy Richard y tengo 20 años
Hola soy Richard y voy a bailar
Hola soy Erika y tengo 20 años
Hola soy Erika y voy a bailar

In [52]:
import numpy as np
x= np.array([[1,2,3,4,],[2,3,4,5],[4,5,6,7]])
print(x[1][:3])

[2 3 4]

In [55]:
import numpy as np
x= np.array([[1,2,3,4,4],[5,5,6,7,3],[2,4,5,6,7]])
print(x[1][::-1], x[2][::-1], x[0][:5])

[3 7 6 5 5] [7 6 5 4 2] [1 2 3 4 4]